@import '../../styles/variables.scss';

.filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media screen and (max-width: $breakpoint-md) {
    .filters {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: $breakpoint-sm) {
    .filters {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}