@import '../../styles/variables.scss';

.menu-mobile {
  min-width: 320px;
  background: $background-main;
  position: fixed;
  inset: 0;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s linear, opacity .3s linear;

  &_type_menu {
    bottom: 0;
  }

  &_opened {
    display: flex;
    flex-direction: column;
    padding: 18px 16px 16px;
    visibility: visible;
    opacity: 1;
    transition: visibility .3s linear, opacity .3s linear;
  }

  &__box {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__box-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}