@import '../../styles/variables.scss';

.button-close {
    display: flex;
    background-image: url(../../assets/images/icon-close-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 30px;
    min-height: 30px;
    width: 30px;
    padding: 0;
    transition: transform 500ms ease 0s;
    border: 0;
    cursor: pointer;

    &:hover {
      transform: rotate(360deg);
    }
    &_right {
align-self: flex-end;
    }
  }