@import '../../styles/variables.scss';

.navigation {
  margin: 0 0;
  box-sizing: border-box;

  &__box {
    display: none;
  }

  &__list {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
    max-width: 600px;
  }

  &__box-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }  
}

@media screen and (max-width: $breakpoint-lg) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &__list {
      margin: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .navigation {
    position: relative;
    z-index: 22;
    min-width: calc(320px - 10%);
    display: none;

    &_type {
      &_header {
        display: none;
      }

      &_menu {
        display: block;
      }
    }

    &__box {
      display: flex;
      justify-content: space-between;
    }

    &__list {
      margin-left: 0;
      margin-right: 0;

      &_type_popup {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-top: 1px solid #8b8b8b;
        padding: 16px 0;
        max-width: 100%;
      }
    }    
  }  
}