@import '../../styles/variables.scss';

.error {
    margin-left: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    color: $color-error;
    min-height: 20px;
    display: block;

    &_active {
        display: block;
    }
}