@import '../../styles/variables.scss';

.semilar-movies {
    // padding-top: 4rem;
    
    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: $breakpoint-md) {
    .semilar-movies {
        &__title {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 1rem;
        }
    }
}