@import '../../styles/variables.scss';

.search {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 100%;
}

.section-search {
  padding: 5% 10%  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
}

.section-search-button {
  margin-bottom: 12px;
  align-self: flex-end;
}

@media screen and (max-width: $breakpoint-lg) {
  .search {
    max-width: 100%;

    &__box {
      max-width: 100%;
    }
  }

  .section-search {
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .section-search {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .search {
    &_type_popup {
      display: flex;
    }
  }

  .section-search {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}